@import "tailwindcss";
@import "tailwindcss/utilities";
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #e5e5e5;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ee430f;
}

.MuiBadge-badge {
  background-color: #556f8d !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover {
  background: none !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  border: 1px solid #556f8d;
  box-shadow: 3px 1px 1px #556f8d !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
  color: #000;
}
